\begin{titlepage}
  \begin{center}

    \textsc{\LARGE Virgl3D}\\
    \textsc{Virtio-GPU | 3D commands}\\
    \textsc{https ://virgil3d.github.io}\\[3cm]


    \textsc{\Large 3D commands reference}\\
    \textsc{Virgl3D version: 0.2.0}\\
    \textsc{Document version: 0.1}\\
    \textsc{Date: \today}\\[2cm]

    \emph{Authors}\\[0.1cm]
    \noindent\makebox[\textwidth]{%
      \begin{tabular}{lr}%
        Nathan Gauër & \texttt{nathan.gauer@lse.epita.fr}\\
    \end{tabular}}\\


    \vfill
  \end{center}
\end{titlepage}
